<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-color:#f9e0ae;
            text-align:center;
        }
        li{
            list-style:none;
            font-size:40px;s
        }
        a{
            text-decoration:none;
            color:#682c0e;
        }
    </style>
</head>
<body>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="/polls/{{ question.id }}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    <a href="{% url 'polls:result' %}">결과확인</a><br>
    <a href="{% url 'polls:addQuestion' %}">질문추가하기</a>
</body>
</html>